<div class="container">
     <div class="row">
        <div class="col-3">
           <h4>商品編集</h4>
        </div>
        <div class="col-9 col-offset-2">
             <%= form_with model: item,url:url,local:true do |f| %>
              <div class="items form-controll">
                  <div class="col-4">
                      <div class="prev-contents">
                        <% if @item.item_image.present? %>
                        <div class="prev-content">
                            <%= attachment_image_tag item, :item_image, class : "prev-image" %>
                        </div>
                        <% end %>
                      </div>
                      <%= f.attachment_field item_image, class: "hidden_file" %>
                  </div>
                  <div class="col-8">
                      <div class="row">
                          <%= f.label :商品名 %>
                      </div>
                      <div class="row">
                          <%= f.label :商品説明 %>
                      </div>
                      <div class="row">
                          <%= f.label :ジャンル %>
                      </div>
                      <div class="row">
                          <%= f.label :税抜価格 %>
                      </div>
                      <div class="row">
                          <%= f.label :販売ステータス %>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <%= f.submit submit_name, class: 'btn btn-primary submit_item' %>
                  </div>
              </div>
            <% end %>
        </div>
     </div>
</div>