<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>商品新規登録</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-9 col-offset-2">
            <%= form_with model: item,url:url,local:true do |f| %>
              <div class="items form-controll">
                  <div class="col-4">
                      <div class="prev-contents">
                        <% if @item.item_image.present? %>
                        <div class="prev-content">
                            <%= attachment_image_tag item, :item_image, class : "prev-image" %>
                        </div>
                        <% end %>
                      </div>
                      <%= f.attachment_field item_image, class: "hidden_file" %>
                  </div>
                  <div class="col-8">
                      <div class="row">
                          <%= f.label :商品名   %>
                          <%= f.text_field :name,placeholder: "商品名" %>
                      </div>
                      <div class="row">
                          <%= f.label :商品説明   %>
                          <%= f.text_area :description, placeholder: "説明文" %>
                      </div>
                      <div class="row">
                          <%= f.label :ジャンル   %>
                          <%= f.collection_select :genre_id, Genre.all, :id, :name %>
                      </div>
                      <div class="row">
                          <%= f.label :税抜価格   %>
                          <%= f.text_field :price, placeholder: "数字" %>
                      </div>
                      <div class="row">
                          <%= f.label :販売ステータス   %>
                          <%= f.select :is_active, [["販売中", true],["売り切れ", false]], include_blank: "選択" %>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <%= f.submit submit_name, class: 'btn btn-primary submit_item' %>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</div>