<div class="container">
     <div class="row">
         <div class="col-3">
             <h4>注文履歴詳細</h4>
         </div>
     </div>
     <div class="row">
         <div class="col-offset-1 col-6">
              <div class="row">
                <span class="orders">購入者
                   <small><%= link_to @order.customer.name, admin_customer_path(@order.customer) %></small>
                </span>
              </div>
              <div class="row">
                <span class="orders">注文日
                   <small></small>
                </span>
              </div>
              <div class="row">
                 <span class="orders">配送先
                   <small><%= @order.address %></small>
                 </span>
              </div>
              <div class="row">
                 <span class="orders">支払方法
                   <small><%= @order.payment_method %></small>
                 </span>
              </div>
              <div class="row">
                 <span class="orders">注文ステータス</span>
                 <%= form_with model:@order, url: admin_order_path(@order) do |f| %>
                    <%= f.select :order_status, order.order_statuses.keys.to_a, {},{include_blank: @order.order_status} %>
                    <%= f.submit '更新', class: 'btn btn-primary' %> 
                <% end %>
              </div>
         </div>
     </div>
     <div class="col-8">
         <table class="table">
            <tr class="active">
               <th>商品名</th>
               <th>単価（税込）</th>
               <th>数量</th>
               <th>小計</th>
               <th>制作ステータス</th>
            </tr>
          <% @order_items.each do |order_item| %>
            <tr>
                <td><%= order_item.item.name %></td>
                <td><%= </td>
            </tr>  
         </table>
     </div>
</div>