<div class="container">
    <div class="items">
       
        <%= link_to item_path(@item) do %>
        <div class="itembox">
           <%= image_tag @item.get_item_image(100,100) %>
           <dl>
              <dt>商品名</dt>
               <dd><%= @item.name %></dd>
              <dt>価格</dt>
               <dd>¥ <%= @item.price %></dd>
           </dl>
        </div>
      <% end %>
    </div>
    <% if customer_signed_in? %>
     <%= form_with model: @cart_item, local: true do |f| %>
      <%= f.select :amount,(1..20).each{|i| p [i] }, include_blank: ">>個数選択" %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.submit "カートに入れる", class: 'btn btn-primary' %>
     <% end %>  
    <% end %>
</div>